
<div class="card">
<div class="card-title bg-success text-center text-light">Contactanos</div>
<div class="card-body">

  <div class="card-title">Contactanos:</div>
<p class="title-success"><strong> WhatsApp:</strong> 301 601 8145</p>
<p class="title-success"><strong>Chat Directo:</strong>
<a href="https://wa.me/573013765484?text=Estoy %20Interesado%20en%20ser%20parte%20del%20grupo" class="text-info badge badge-success text-light">  ¡Aquí!</a>
</p>
<div class="text-center">
    <img src="assets/LogoComplete.jpeg" class="rounded mx-auto d-block" alt="..." style="width: 150px;">
  </div>
</div>
</div>

