<div class="row py-5">
    <div class="col-md-4 col-12 col-sm-6">
        <h3>Imagen</h3>
        <hr>
        <img class="img-fluid rounded" src="https://images.pexels.com/photos/112460/pexels-photo-112460.jpeg?cs=srgb&dl=automobile-automotive-car-112460.jpg&fm=jpg" alt="img">
        <p>
            orem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto d
        </p>
      </div>
      <div class="col-md-4 col-12 col-sm-6">
          <h3>Imagen</h3>
          <hr>
          <img class="img-fluid rounded" src="https://images.pexels.com/photos/112460/pexels-photo-112460.jpeg?cs=srgb&dl=automobile-automotive-car-112460.jpg&fm=jpg" alt="img">
          <p>
              orem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto d
          </p>
        </div>
        <div class="col-md-4 col-12 col-sm-6">
            <h3>Imagen</h3>
            <hr>
            <img class="img-fluid rounded" src="https://images.pexels.com/photos/112460/pexels-photo-112460.jpeg?cs=srgb&dl=automobile-automotive-car-112460.jpg&fm=jpg" alt="img">
            <p>
                orem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto d
            </p>
          </div>
</div>
