<section>


  <div id="accordianId" role="tablist" aria-multiselectable="true">
    <div class="card">
      <div class="card-header" role="tab" id="section1HeaderId">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordianId" href="#section1ContentId" aria-expanded="true" aria-controls="section1ContentId">
            Vídeos
          </a>
        </h5>
      </div>
      <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId">
        <div class="card-body">
          <div class="card-title text-info">Descubre Nuevas Coreografías</div>
          <div>
            <object class="embed-responsive-item col-md-5">
              <video autoplay loop >
                <source src="assets/Video.mp4" />
              </video>
            </object>
          </div>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="section2HeaderId">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordianId" href="#section2ContentId" aria-expanded="true" aria-controls="section2ContentId">
            Vídeos
          </a>
        </h5>
      </div>
      <div id="section2ContentId" class="collapse in" role="tabpanel" aria-labelledby="section2HeaderId">
        <div class="card-body">
          <div class="card-title text-info">Descubre Nuevas Coreografías</div>
          <div class="card-body">
            <div>
              <object class="embed-responsive-item">
                <video autoplay loop >
                  <source src="assets/Video.mp4" />
                </video>
              </object>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


</section>
