<app-slider></app-slider>
<section>

  <div class="container my-5">
    <div class="card-deck">
      <div class="row">
        <div class="card">
          <img class="card-img-top" src="assets/Portada.jpeg">
          <div class="card-body">
            <h5 class="card-title">Hallowen</h5>
            <p class="text-dark">orem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la</p>
            <a href="#" class="btn btn-primary">Ver Mas...</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/Portada.jpeg">
          <div class="card-body">
            <h5 class="card-title">Hallowen</h5>
            <p class="text-dark">orem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la</p>
            <a href="#" class="btn btn-primary">Ver Mas...</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/Portada.jpeg">
          <div class="card-body">
            <h5 class="card-title">Hallowen</h5>
            <p class="text-dark">orem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la</p>
            <a href="#" class="btn btn-primary">Ver Mas...</a>
          </div>
        </div>
      </div>
    </div>
</div>
  </section>
<div class="container">
  <div class="row">

    <app-second-section class="col-md-8 col-12 col-sm-12">  </app-second-section>
    <app-contacts-us class="col-md-4 col-12 col-sm-12"></app-contacts-us>
  </div>
</div>







