<app-slider></app-slider>
<div class="container">

<div class="row mt-5 mx-2">
    <div class="col-md-4 col-12 col-sm-6">
        <h3>Halloween</h3>
        <hr>
        <img class="img-fluid rounded" src="assets/Portada.jpeg" alt="img">
        <p>
            orem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto d
        </p>
      </div>
      <div class="col-md-4 col-12 col-sm-6">
          <h3>Imagen</h3>
          <hr>
          <img class="img-fluid rounded" src="assets/Halloween2.jpeg" alt="img">
          <p>
              orem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto d
          </p>
        </div>
        <div class="col-md-4 col-12 col-sm-6">
            <h3>Imagen</h3>
            <hr>
            <img class="img-fluid rounded" src="assets/Halloween.jpeg" alt="img">
            <p>
                orem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto d
            </p>
          </div>
          <div class="col-md-4 col-12 col-sm-6">
              <h3>Imagen</h3>
              <hr>
              <img class="img-fluid rounded" src="assets/Baile1.jpeg" alt="img">
              <p>
                  orem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto d
              </p>
            </div>
  </div>

</div>

